<entry>
  <title>
    <%= comment.author.name %> commented on ticket #<%= comment.ticket.id %>
  </title>
  <link href="<%= @url %>/<%= comment.ticket.id %>#<%= comment.id %>"/>
  <id>shitstorm:<%= @url %>/<%= comment.ticket.id %>#<%= comment.id %></id>
  <updated><%= comment.created_at.xmlschema %></updated>
  <summary type="xhtml">
    <div xmlns="http://www.w3.org/1999/xhtml">
      <%= comment.body_markup %>
    </div>
  </summary>
</entry>
