<div id="entry">
  <h2>
    <%= @entry.title %>
  </h2>

  <p class="entry_report">
    <%= dict[:created_on] % @entry.ctime.strftime(dict[:timefmt]) %>
    <%= author_search_link(@entry) %>
  </p>

  <% unless @entry.body.strip.empty? %>
  <div class="entry_body">
    <%= @entry.body %>
  </div>
  <% end %>

  <h3><%= dict[:comments] %></h3>

  <% if @entry.comments.empty? %>
    <p><%= dict[:no_comments] %></p>
  <% else %>
  <% @entry.comments.each do |comment| %>
  <div class="comment">
    <div class="comment_body"><%= comment.body %></div>
    <p class="comment_report">
      <%= dict[:posted_on] % comment.ctime.strftime(dict[:timefmt]) %>
      <%= author_search_link(comment) %>
    </p>
  </div>
  <% end %>
  <% end %>

  <h3><%= dict[:add_comment] %></h3>
  <div id="new_comment">
    <form action="<%= @entry.url %>/comment" method="post">
      <p>
        <label for="author"><%= dict[:author] %></label>
        <%= author_field %>
      </p>
      <p>
        <label for="body"><%= dict[:body] %></label>
        <textarea name="body" rows="7" cols="80"></textarea>
      </p>
      <input type="submit" value="<%= dict[:submit] %>" />
    </form>
  </div>
</div>
