<div id="entry">
  <h2>
    <%= @entry.title %>
  </h2>

  <p class="entry_report">
    <%= dict[:created_on] % @entry.ctime.strftime(dict[:timefmt]) %>
    <% unless @entry.url.empty? %>
    <span class="entry_url">
      <a href="<%= @entry.url%>"><%= dict[:link] %></a>
    </span>
    <% end %>
  </p>

  <div class="entry_body">
    <%= @entry.body %>
  </div>

  <p>
    <a href="/log"><%= dict[:log_back] %></a>
  </p>
</div>
