<?xml version="1.0" encoding="UTF-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id><%= settings.url %></id>
  <title><%= dict[:log_name] % settings.name %></title>
  <% if @events.first %>
    <updated><%= @events.first.ctime.xmlschema %></updated>
  <% else %>
    <updated><%= Time.now.xmlschema %></updated>
  <% end %>
  <link href="<%= settings.url %>" />
  <link rel= "self" href="<%= File.join(settings.url, 'feed') %>" />
  <author>
    <name>  <%= settings.name  %> </name>
    <email> <%= settings.email %> </email>
    <uri>   <%= settings.url   %> </uri>
  </author>

  <% @events.each do |event| %>
    <entry>
      <id><%= event.url %></id>
      <title type="html"><%= event.message %></title>
      <updated><%= event.ctime.xmlschema %></updated>
      <author>
        <name>  <%= settings.name  %> </name>
        <email> <%= settings.email %> </email>
        <uri>   <%= settings.url   %> </uri>
      </author>
      <link rel="alternate" href="<%= event.url %>" />
      <summary type="xhtml">
        <div xmlns="http://www.w3.org/1999/xhtml">
          <%= event.message %>
        </div>
      </summary>
    </entry>
  <% end %>
</feed>
