<form action="/" method="get">
  <div id="filter">
    <input type="text" name="q" value="<%= params[:q] %>" />
    <input type="submit" value="<%= dict[:search] %>" />
  </div>
</form>

<ul id="issues">
  <% @issues.each do |issue| %>
  <li class="issue <%= issue.status %>">
    <span class="title">
      <a href="<%= issue.url %>" title="<%= dict[:view_issue] %>"><%=
        issue.title
      %></a>
    </span>
    <span class="details">
      <span class="id">#<%= issue.id %></span>
      <img src="data/date.png" alt="Date" title="<%= issue.ctime.strftime("%F %R")%>" />
      <span class="comment_details">
        <img src="data/comments.png" alt="Comments:" />
        <span class="comment_count"><%= issue.comments.length %></span>
      </span>
      <span class="author">
        <%= author_search_link(issue) %>
      </span>
    </span>
  </li>
  <% end %>
</ul>
