<div id="issue">
  <h2>
    <img src="/data/flag_<%= @issue.status %>.png" alt="<%=
      dict[@issue.status.to_sym]
    %>" />
    <%= @issue.title %>
  </h2>

  <p class="issue_report">
    <%= dict[:created_on] % @issue.ctime.strftime(dict[:timefmt]) %>
    <%= author_search_link(@issue) %>
  </p>

  <% unless @issue.body.strip.empty? %>
  <div class="issue_body">
    <%= @issue.body %>
  </div>
  <% end %>

  <h3><%= dict[:comments] %></h3>

  <% if @issue.comments.empty? %>
    <p><%= dict[:no_comments] %></p>
  <% else %>
  <% @issue.comments.each do |comment| %>
  <div class="comment">
    <div class="comment_body"><%= comment.body %></div>
    <p class="comment_report">
      <%= dict[:posted_on] % comment.ctime.strftime(dict[:timefmt]) %>
      <%= author_search_link(comment) %>
    </p>
  </div>
  <% end %>
  <% end %>

  <h3><%= dict[:add_comment] %></h3>
  <div id="new_comment">
    <form action="<%= @issue.url %>/comment" method="post">
      <p>
        <label for="author"><%= dict[:author] %></label>
        <%= author_field %>
      </p>
      <p>
        <label for="body"><%= dict[:body] %></label>
        <textarea name="body" rows="7" cols="80"></textarea>
      </p>
      <input type="submit" value="<%= dict[:submit] %>" />
    </form>
  </div>
</div>
