!!! Strict
%html{"xml:lang" => settings.lang, :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}
    %title
      = settings.name
      | ShitStorm
    %link{:href => "/data/stylesheet.css", :rel => "stylesheet",
          :type => "text/css", :media => "screen", :charset => "utf-8"}
    %link{:href => "/data/bug.png", :rel => "shortcut icon", :type => "image/x-png"}
    %link{:href => "/feed", :title => dict[:log_name] % settings.name,
          :rel => "alternate", :type => "application/atom+xml"}
  %body
    %h1
      %a{:href => "/", :title => dict[:home]}
        = settings.name
    %ul#menu
      %li
        %a#add_issue_lnk{:href => "/add", :title => dict[:add_issue]}
          = dict[:add_issue]
      %li
        %a#log_link{:href => "/log", :title => dict[:view_log]}
          = dict[:log]
    = yield
    %p#footer
      = dict[:powered_by]
      %a{:href => "http://garbure.info/shitstorm/", :title => "ShitStorm's website"}
        ShitStorm
