<div id="log">
  <h2><%= dict[:log] %></h2>
  <ul id="entries">
  <% @entries.each do |entry| %>
  <li class="entry">
    <span class="details">
      <span class="id">#<%= entry.id %></span>
      <span class="comment_count">(<%= entry.comments.length %>)</span>
      <span class="ctime"><%= entry.ctime.strftime("%F %R") %></span>
      <span class="author">
        <%= author_search_link(entry) %>
      </span>
    </span>
    <span class="title">
      <a href="/log/<%= entry.id %>" title="<%= dict[:view_entry] %>"><%=
        entry.title
      %></a>
    </span>
  </li>
  <% end %>
  </ul>

  <h3><%= dict[:new_entry] %></h3>
  <div id="new_comment">
    <form action="/log" method="post">
      <p>
        <label for="author"><%= dict[:author] %></label>
        <%= author_field %>
      </p>
      <p>
        <label for="title"><%= dict[:title] %></label>
        <input type="text" name="title" class="long_field" />
      </p>
      <p>
        <label for="body"><%= dict[:body] %></label>
        <textarea name="body" rows="7" cols="80"></textarea>
      </p>
      <input type="submit" value="<%= dict[:submit] %>" />
    </form>
  </div>
</div>
