#log
  %h2= dict[:log]
  %ul#entries
    - @entries.each do |entry|
      %li.entry
        %span.details
          %span.id ##{entry.id}
          %span.comment_count (#{entry.comments.length})
          %span.ctime=  entry.ctime.strftime("%F %R")
          %span.author= author_search_link(entry)
        %span.title
          %a{:href => "/log/#{entry.id}", :title => dict[:view_entry]}
            = entry.title

  %h3= dict[:new_entry]
  #new_comment
    %form{:method => "post", :action => "/log"}
      %p
        %label{:for => "author"}= dict[:author]
        = author_field
      %p
        %label{:for => "title"}= dict[:title]
        %input.long_field{:name => "title", :type => "text"}
      %p
        %label{:for => "body"}= dict[:body]
        %textarea{:name => "body", :rows => "7", :cols => "80"}
      %input{:type => "submit", :value => dict[:submit]}
